@media only screen and (max-width: 650px) {
     header {
          flex-direction: column;
          align-items: center;
     }
}
body {
     font-family: "Poppins", sans-serif;
     font-size: 1.8rem;
     font-weight: 400;
     color: var(--main-white);
}

:root {
     --main-white: #f0f0f0;
     --main-red: #be3144;
     --main-blue: #45567d;
     --main-gray: #303841;
     --rem: 16;
}

html {
     box-sizing: border-box;
     font-size: 62.5%;
     scroll-behavior: smooth;
}

*,
*::before,
*::after {
     box-sizing: inherit;
}

* {
     margin: 0;
     padding: 0;
}

/* This is header */

header {
     background-color: var(--main-red);
     position: fixed;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 80px;
     padding-right: 10px;
}

nav {
     width: 100%;
     height: 100%;
}

header ul {
     list-style: none;
     display: flex;
     justify-content: flex-end;
     color: var(--main-white);
     text-decoration: none;
     text-align: center;
     height: 100%;
}

header ul li {
     display: flex;
     align-items: center;
     padding: 15px 20px;
}

header ul li:hover {
     background-color: var(--main-blue);
}

header ul li a {
     text-decoration: none;
     color: var(--main-white);
     margin-right: 20px;
     font-size: 2rem;
}
/*Welcome section*/
#welcome-section {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100%;
     background-color: #000;
     background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
#welcome-section h1 {
     color: var(--main-white);
}
#welcome-section p {
     color: var(--main-red);
     font-style: italic;
     font-size: 3rem;
}

/* This is contact */
#contact {
     display: flex;
     flex-direction: column;
     background-color: var(--main-gray);
     align-items: center;
     justify-content: center;
     height: 80vh;
}

#contact-section-header {
     list-style: none;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 10em;
}

.contact-links ul {
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-bottom: 100px;
}

.contact-links ul li a {
     text-decoration: none;
     color: var(--main-white);
     transition: transform 0.3s ease-out;
}

.contact-links ul li a:hover {
     transform: translateY(10px); /* Move down by 10 pixels on hover */
}

/* This is project */
.btn-show-all {
     margin-top: 100px;
     background-color: var(--main-blue);
     color: var(--main-white);
     text-align: center;
     width: fit-content;
     transition: background 0.3s ease-out;
     margin-left: auto;
     margin-right: auto;
}

.code {
     color: var(--main-gray);
     transition: color 0.3s ease-out;
}

.project:hover .code {
     color: #ff7f50;
}

.btn-show-all > i {
     margin-left: 10px;
     transition: transform 0.3s ease-out;
}

.btn-show-all:hover {
     background-color: #be3144;
     i {
          transform: translatex(2px);
     }
}

.btn {
     padding: 1rem 2rem;
     display: inline-block;
     background-color: var(--main-gray);
}

.project-section {
     padding: 10rem 2rem;
     background-color: var(--main-blue);
     display: flex;
     flex-direction: column;
}

#project-section-header {
     margin-bottom: 6rem;
     text-align: center;
}

.projects-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
     width: 100%;
     max-width: 1280px;
     gap: 3rem;
     margin: auto;
}

#projects-grid a {
     height: calc(100% / 2);
     width: fit-content;
}

.project {
     background: var(--main-gray);
     box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
     border-radius: 2px;
}

#project-section-header {
     max-width: 640px;
     margin: 0 auto 6rem auto;
     border-bottom: 0.2rem solid var(--main-white);
     margin-bottom: rem;
}

.project-image {
     height: 80%;
     width: 100%;
     object-fit: cover;
}

.project-title {
     font-size: 2rem;
     padding: 2rem 0.5rem;
     text-align: center;
}

.project-title:hover {
}

.projects-grid a {
     text-decoration: none !important;
     color: var(--main-white);
}

/*This is footer*/
footer {
     display: flex;
     justify-content: space-around;
     background: var(--main-gray);
     border-top: 4px solid var(--main-red);
     padding: 2rem;
}

a {
     color: white !important;
     text-decoration: none !important;
}

h1 {
     font-size: 6rem;
}

h1 {
     font-size: 4.2rem;
}

h1,
h2 {
     font-family: "Raleway", sans-serif;
     text-align: center;
}
